<!-- app/views/products/index.html.erb -->
<section class="section">
  <div class="container">
    <div class="field is-grouped is-grouped-multiline">
      <%= form_with(url: products_path, method: :get, class: "mb-4", local: true) do |form| %>
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= form.text_field :search, placeholder: "Buscar por nombre", class: "input" %>
          </div>
          <div class="control">
            <%= form.submit "Buscar", class: "button is-warning" %>
          </div>
        </div>
      <% end %>
      <div class="control is-expanded has-text-right">
        <button class="button is-medium" onclick="saveIds()">
          <span class="icon">
            <i class="fas fa-shopping-cart"></i>
          </span>
          <p id="cartCount" class="is-warning is-light">0</p>
        </button>
      </div>
    </div>

    <div class="pagination" role="navigation" aria-label="pagination">
      <%= will_paginate @products %>
    </div>

    <div class="columns is-multiline" id="productCards">
      <% @products.each do |product| %>
        <%= render "product_post" , product: product %>
      <% end %>
    </div>
  </div>
</section>
