<section class="section">
  <div class="container">
    <h1 class="title">Realiza el Registro</h1>

    <div class="columns is-multiline" id="productDetails">
      <% @products.each do |product_info| %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag(product_info[:product].image, class: "product-image") %>
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4"><%= product_info[:product].name %></p>
              <p><%= product_info[:product].description %></p>
              <p class="subtitle is-6">Precio: <%= number_to_currency(product_info[:product].price) %></p>
              <p>Cantidad: <%= product_info[:quantity] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card box has-shadow-8" style="width: 25%;">
      <div class="card-content">
        <div class="field">
          <label class="label">Total de la Compra:</label>
          <div class="control">
            <p class="title is-4"><%= @total_cost %></p>
          </div>
        </div>
      </div>
    </div>

    <%= form_with(url: sales_path, method: :post) do |f| %>
      <div class="field">
        <div class="control">
          <%= f.hidden_field :products, value: @product_info.to_json %>
          <%= f.submit  "Generar Venta" , class: "button is-success" %>
        </div>
      </div>
    <% end %>

  </div>
</section>
