<!DOCTYPE html>
<html>
  <head>
    <title>LittleBees</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag 'cart' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-XXX..." crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.has_role?(:admin) %>
        <nav class="navbar" role="navigation" aria-label="main navigation" >
          <div class="navbar-brand">
            <%= link_to admin_dahsboard_index_path, class: 'navbar-item' do %>
              LittleBees Admin
            <% end %>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start is-half">
              <%= link_to 'Menu', admin_dahsboard_index_path, class: 'navbar-item' %>
              <%= link_to 'Agregar productos', new_product_path, class: 'navbar-item' %>
            </div>
            <div class="navbar-end is-half">
              <div class="navbar-item">
                <%= form_with(url: session_path(current_user.id), method: :delete, class: "button is-medium") do |form| %>
                  <%= form.submit "Cerrar Sesión", class: "button is-danger" %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      <% else %>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <%= link_to root_path, class: 'navbar-item' do %>
              <%= image_tag('Logo.png', alt: 'LittleBees Logo', width: 112, height: 28) %>
            <% end %>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
              <%= link_to 'Menu', user_dashboard_index_path, class: 'navbar-item' %>
              <%= link_to 'Productos', products_path, class: 'navbar-item' %>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <%= form_with(url: session_path(current_user.id), method: :delete, class: "button is-light") do |form| %>
                  <%= form.submit "Cerrar Sesión", class: "" %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      <% end %>
    <% else %>
      <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            LittleBees
          <% end %>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu is-flex is-justify-content-center">
          <div class="navbar-end">
            <!-- Agrega tus enlaces de navegación aquí -->
            <%= link_to 'Iniciar Sesión', new_session_path, class: 'navbar-item' %>
            <%= link_to 'Regístrate', new_user_path, class: 'navbar-item' %>
          </div>
        </div>
      </nav>
    <% end %>
    <% flash.each do |key, value| %>
      <% type =
        case key.to_s
        when 'notice' then 'is-success'
        when 'error' then 'is-danger'
        else 'is-info' # O cualquier clase predeterminada para otros tipos de mensajes flash
        end
      %>
      <div class="notification <%= type %> is-light has-text-centered" role="alert">
        <button class="delete" onclick="this.parentNode.style.display='none'"></button>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
